/* ========================================
===========Boilerplate CSS============== */
html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}
/* ========================================
===========Navigation Menu============== */
.navigation-header {
    background-color: black;
    padding: 0 15px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
}


nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
}
.logo-container > a {
    color: ghostwhite;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
}
.navigation-items {
    display: flex;
    gap: 40px;
}
.navigation-items > a {
    color: ghostwhite;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: .4s ease-in-out;
}
.navigation-items > a:hover {
    color: grey;
}
.hamburger {
    display: none;
    font-size: 20px;
    font-weight: 800;
    color: ghostwhite;
}

/* ========================================
==============Hero Section============== */
#hero-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: auto;
    background-color: white;
    height: auto;
}

#hero-section div {
    flex: 1;
}
.hero-left {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}
.intro-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center; 
    width: 100%;
    padding-left: 35%;
}

.hero-left h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #151515;
}

.hero-left h3 {
    font-size: 2rem;
    color: #151515;
    margin: 0;
}
/* Typewritter Effect */
@keyframes blinkCursor {
    from { border-right-color: #151515; }
    to { border-right-color: transparent; }
  }
  
  .profession {
    height: 3.5rem;
    border-right: 2px solid #151515;
    font-size: 2rem;
    font-weight: 600;
    color: #151515;
    padding-right: 0.25rem;
    animation: blinkCursor 0.75s steps(40) infinite;
    white-space: nowrap;
    overflow: hidden;
  }
  

.links-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 2em;
    padding: 0;
}

.hero-left button {
    border-style: solid;
    border-color: #151515;
    padding: 1em;
    background: #151515;
    color: ghostwhite;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3 all ease;
    border-radius: 20px;
    width: 100px;
    align-items: flex-start; 
    justify-content: center;
    transition: background-color 1s;
}
.hero-left button:hover {
    border-color: #151515;
    background: ghostwhite;
    color: #151515;
}

.hero-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-right .right-image {
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 50%;
    background-color: #151515;
    border-style: solid;
    margin-top: 5%;
}

.hero-right img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
}
.hero-right .right-links-container {
    display: flex;
    gap: 1em;
    margin-top: 5%;
    margin-bottom: 5%;
}
.hero-right span {
    border-style: solid;
    border-color: #151515;
    background: ghostwhite;
    border-radius: 50%;
    width: 3em; 
    height: 3em; 
}
.github-link, .linkedin-link {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 50px; 
    width: 50px; 
}
.github-link a, 
.linkedin-link a,
.github-link a i,
.linkedin-link a i {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 50px; 
    width: 50px; 
    color: #151515;
    transition: background-color 1s;
}
.github-link i, .linkedin-link i {
    font-size: 24px; 
    color: #151515; 
}
.linkedin-link:hover a,
.linkedin-link:hover a i,
.github-link:hover a,
.github-link:hover a i{
    border-color: #151515;
    background: #151515;
    color: ghostwhite;
    border-radius: 50%;
    height: 50px; 
    width: 50px; 
    font-size: 24px; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s;
}

/* ========================================
======================================== */

/* ========================================
==============About Section============== */
#about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: auto;
    background-color: #151515;
    height: 100%;
    margin-top: 5rem;
}

/* ========================================
======================================== */

@media screen and (max-width:768px) {
    .navigation-header {
        position: -webkit-sticky; /* For Safari */
        position: sticky;
        top: 0;
        z-index: 1000; 
    }

    .logo-container > a {
    color: ghostwhite;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    }
    .hamburger {
    display: flex;
    cursor: pointer;
    }
    .hamburger #closeHam {
    display: none;
    }
    .navigation-items {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 38px;
    background-color: black;
    width: 100%;
    height: calc(100vh - 38px);
    padding-top: 60px;
    gap: 5vh;
    }
    /* ========================================
    ==============Mobile Hero Section============== */
    #hero-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-right {
        flex: 1;
        order: 1;
    }
    .hero-left {
        order: 2;
    }
    .hero-left h1 {
        font-size: 2.5rem;
    }
    .hero-left, .hero-right {
        width: 100%;
        text-align: center; 
    }
    .intro-container {
        margin-left: 0;
        padding-left: 0;
    }
    .intro-container h1 {
        margin-top: 0;
        margin-bottom: .5rem;
    }
    .hero-right {
        padding-top: 1rem;
        margin-top: 1rem;
    }
    .hero-right .right-image {
        width: 80%; 
        height: 0; 
        padding-top: 80%; 
        position: relative; 
        margin: 0 auto; 
        border-radius: 50%; 
        overflow: hidden; 
    }

    .hero-right .right-image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
    }
    .intro-container, .links-container {
        align-items: center; 
    }
    .hero-left h1, .hero-left h3, .profession {
        text-align: center; 
    }
    .profession {
        min-width: 250px; 
        margin: 0 auto; 
    }
    body, html {
        overflow-x: hidden; /* Prevent horizontal scrolling */
    }
    
/* ========================================
======================================== */
}