<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diego Garcia</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script type="text/javascript" src="/static/js/index.js"></script>
</head>
<body>
    <!-- Navigation Section -->
    <header class="navigation-header">
        <nav>
            <div class="logo-container">
                <a href="./index.html">Diego Garcia</a>
            </div>
            <div class="navigation-items" id="navigation-items">
                <a href="" >Home</a>
                <a href="">About</a>
                <a href="">Projects</a>
                <a href="">Contact Me</a>
            </div>
            <div class="hamburger">
                <span id="openHam">&#9776;</span>
                <span id="closeHam">&#x2716;</span>
            </div>
        </nav>
       </header>
    <!-- End of Navigation Section -->
    <section id="about">
        <!-- About Me Section -->
    </section>
    <section id="work">
        <!-- Your Work / Projects -->
    </section>
    <section id="contact">
        <form id="contact-form">
            <!-- Contact Form Fields -->
            <input type="text" name="name" placeholder="Your Name" required>
            <input type="email" name="email" placeholder="Your Email" required>
            <textarea name="message" placeholder="Your Message" required></textarea>
            <button type="submit">Send</button>
        </form>
    </section>
</body>
</html>
